<div class="page-head">
    <div class="container">
        <h3>Cập nhật thông tin cá nhân</h3>
    </div>
</div>
<div class="product-easy">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-8" style="float: left;">
                <form action="#" method="post" class="form" role="form">

                    <div class="col-md-12" style="margin-top: 20px; margin-bottom:30px">
                        <h4 class="col-md-3">Họ và tên</h4>
                        <a class="col-xs-9 col-md-9">
                            <input class="form-control" name="hoten" required="" autofocus="" type="text">
                        </a>
                    </div>

                    <div class="col-md-12" style="margin-bottom:30px">
                        <h4 class="col-md-3">Số điện thoại</h4>
                        <a class="col-xs-9 col-md-9">
                            <input class="form-control" name="sdt" required="" placeholder="Nhập số điện thoại của bạn" autofocus="" type="text">
                        </a>
                    </div>
                    <div class="col-md-12" style="margin-bottom:30px">
                        <h4 class="col-md-3">Địa Chỉ</h4>
                        <a class="col-xs-9 col-md-9">
                            <input class="form-control" name="add" required="" autofocus="" type="text">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="GR">Gender</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <select name="gioi" class="form-control">
                                <option>Female</option>
                                <option>Male</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12" style="margin-bottom:30px">
                        <h4 class="col-md-3">Ngày sinh</h4>
                        <a class="col-xs-5 col-md-5">
                            <input class="form-control" required="" name="dob" placeholder="" type="date">
                        </a>
                    </div>
                    <br>
                    <p class="col-md-4"></p>

                    <button class="col-md-3" type="submit" class="btn btn-warning">Cập Nhật</button>
                </form>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 " style="float: right;">
                <div class="css-treeview">
                    <ul class="tree-list-pad">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/cart/mycart">Giỏ hàng</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>